# Node modules
node_modules/

# Builds & packs
dist/
*.tgz

# .env files
.env
.env.*
# Including test repo .env file in git
!/example/.env

# IDE - VSCode
.vscode/

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log
